extends layout

block content
  h1 Recent stock changes at #{storeSettings.displayName}
  each diff in diffs
    h2= diff.seen
    if diff.added.length > 0
      h3 Added
      ul.added
        each add in diff.added
          li
            a(href=add.value.link)
              | +#{add.value.name} (#{add.value.price})
    if diff.removed.length > 0
      h3 Removed
      ul.removed
        each remove in diff.removed
          a(href=remove.value.link)
            li -#{remove.value.name}
