extends layout

block content
  a.back-to-index(href='/') ↢ Tilbake
  h1 Lagerendringer hos #{storeSettings.displayName}
  each diff in diffs
    .changeset(class=!diff.removed.length ? "add-only" : "", class=!diff.added.length ? "remove-only" : "")
      - const seen = moment(diff.seen)
      h2 for #{moment.duration(seen - moment()).humanize(true)} (#{seen.tz('Europe/Oslo').format("H:mm, dddd, Do MMM YYYY")})
      if diff.added.length > 0
        h3.added-header Fikk inn #{diff.added.length}
        ul.added
          each add in diff.added
            li.product
              a(href=add.value.link)
                .stock-count= add.value.stock
                .product-name= add.value.name
                if add.value.price
                  .product-price= add.value.price
                else if add.value.stockStatus || add.value.productCategory
                  if add.value.stockStatus
                    .product-misc #{add.value.stockStatus}  
                  if add.value.productCategory
                    .product-misc #{add.value.productCategory}  
                if add.value.bid
                  - const count = millify(add.value.ratingCount, {precision: 0})
                  .product-ut(data-ut-link=`https://untappd.com/b/_/${add.value.bid}`) UT: #{add.value.rating.toFixed(2)} (#{count})
                else
                  .product-ut

      if diff.removed.length > 0
        h3.removed-header Gikk tom for #{diff.removed.length}
        ul.removed
          each remove in diff.removed
            li.product 
              a(href=remove.value.link)
                .product-name #{remove.value.name}

  script(type="text/javascript").
    if (document.querySelectorAll) {
      var untappdLinks = document.querySelectorAll('.product-ut')
      for (var i = 0; i < untappdLinks.length; ++i) {
        var link = untappdLinks[i]
        link.addEventListener('click', function (event) {
          event.preventDefault()
          window.location = event.target.dataset.utLink
        })
      }
    }
            
