extends layout

block content
  h1 Lager hos #{storeSettings.displayName}
  table.sortable
    thead
      tr
        th Code
        th Product Name
        th Price
        th Stock Status
        th Category
        th Style
        th Date Added
        th UT Rating
    tbody
      - const prods = Object.values(stock);
      each product in stock
        tr
          td= product.code
          td 
            a(href=`https://www.vinmonopolet.no/_/p/${product.code}`)= product.name
          td= product.price
          td= product.stockStatus || product.stock || '-'
          td= product.category
          td= product.style
          td= new Date(product.time || 1970).toISOString()
          td.vintappd-col(data-vpcode=product.code)
            if product.bid
              a.utrating(href=`https://untappd.com/b/_/${product.bid}`, data-vpcode=product.code)
                if product.rating
                  | #{product.rating}
                else
                  | -
              button.refresh-rating(data-vpcode=product.code)
                img(src='/img/refresh.svg')
            else
              .autolink-container(style="display: none")
                input.autolink-prompt
                button.autolink(data-vpcode=product.code)
                  | 🔗


    script(type="text/javascript", src="/js/sortable.js")
    script(type="text/javascript", src="/js/vintappd-refresh.js")

